/* css style resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* navigation bar */
.nav-link {
    color: black;
}

.nav-link-active {
    color: red;
}