:root {
    --primary-color: rgb(22, 22, 22);
    --secondary-color: white;
    --primary-text: white;
    --secondary-text: rgb(134, 134, 134);
}

/* css style resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--primary-color);
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style: none;
}

/* general styling */
main {
    height: 100vh;
}

/* navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    padding: .75rem 4%;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin: 0 1rem;
}

.nav-tabs {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item a {
    display: block;
    padding: 1rem .3rem .2rem .3rem;
    margin: 0 0.75rem;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    transition: margin-top 0.15s ease;
    border-bottom: 3px solid transparent;
}

.nav-item a:hover {
    border-bottom: 3px solid var(--secondary-text);
    margin-top: -5px;
}

.nav-link {
    color: var(--secondary-text);
}

.nav-link-active {
    color: var(--primary-text);
}

.toggle-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
}

.toggle-btn .bar {
    height: 4px;
    width: 100%;
    background-color: white;
}

/* about page */
.about-content {
    color: var(--secondary-text);
    font-size: 70px;
    max-width: 700px;
    transition: ease all .4s;
}

/* resume page */
.resume-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 3rem;
    transition: all ease 0.4s;
}

.resume-item {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text);
}

.resume-item ul {
    padding: 1rem;
    font-size: 25px;
    transition: all ease 0.4s;
}


.resume-item h2 {
    font-size: 35px;
    font-weight: 400;
    transition: all ease 0.4s;
}

.resume-btn {
    text-align: center;
    text-transform: uppercase;
    background-color: none;
    color: var(--primary-text);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 2rem;
    padding: .75rem 4rem;
    margin-top: 2rem;
    transition: all ease 0.4s;
}

.resume-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 500;
}

/* contact page styling */
form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 550px;
    transition: ease all .4s;
}
form h2 {
    color: var(--secondary-text);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    transition: ease all .4s;
}

input, textarea {
    font-size: 20px;
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0.25rem;
    border-radius: 5px;
    border: none;
    transition: ease all .4s;
}

.message-input {
    height: 275px;
    transition: ease all .4s;
}

.submit-btn {
    background-color: transparent;
    color: var(--primary-text);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: .25rem 3rem;
    border: 1px solid var(--primary-text);
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
    transition: all ease 0.4s;
}

.submit-btn:hover {
    background-color: var(--primary-text);
    color: var(--primary-color);
    cursor: pointer;
}

.submit-btn:active {
    background-color: var(--secondary-text);
    border-color: var(--secondary-text);
}

.error-text {
    color: var(--primary-text);
    margin: 0.5rem 0 0 1rem;
}
/* general page stylings */
.container {
    display: flex;
    justify-content: flex-start;

}

.page-container {
    display: flex;
    flex-direction: column;
    padding-top: 11rem;
    padding-left: 17%;
    transition: ease all .4s;
}

.page-title {
    color: var(--primary-text);
    font-family: 'Playfair Display', serif, 'Times New Roman';
    font-weight: 500;
    font-size: 75px;
    padding-bottom: 1rem;
    transition: ease all .4s;
}

/* footer styling */
footer {
    display: flex;
    justify-content: center;
    color: var(--secondary-text);
    background-color: var(--primary-color);
    height: 100px;
}

.icon-group a {
    margin: 1.5rem;
    transition: all ease 0.3s;
}

.icon-group a:visited {
    color: var(--secondary-text);
}

.icon-group a:hover {
    color: var(--primary-text);
    cursor: pointer;
}

@media (max-width: 1440px) {
    .page-container {
        padding-top: 6rem;
        padding-left: 10%;
    }

    .page-title {
        font-size: 60px;
    }

    .about-content {
        font-size: 60px;
        max-width: 600px;
    }

    .resume-item ul {
        font-size: 20px;
    }

    .resume-item h2 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .page-container {
        padding-top: 3.5rem;
        padding-left: 10%;
    }

    .page-title {
        font-size: 40px;
    }

    .about-content {
        font-size: 40px;
        max-width: 400px;
    }

    .toggle-btn {
        display: flex;
    }

    .nav-item {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-tabs {
        flex-direction: column;
        width: 100%;
    }

    .nav-item a {
        padding: .5rem 1rem;
    }

    .menu {
        width: 100%;
        text-align: center;
    }

    .hidden {
        display: none;
    }

    .resume-item h2 {
        font-size: 27px;
    }

    .resume-btn {
        font-size: 20px;
        padding: 0.5rem 1.5rem;
        margin-right: 1.5rem;
    }
    
    .resume-container {
        padding-left: 0;
    }

    form {
        width: 450px;
    }
    .message-input {
        height: 200px;
    }

    form h2 {
        font-size: 25px;
        margin-left: 0;
    }

    input, textarea, .submit-btn {
        margin-left: 0;
    }

    input, textarea {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    form {
        width: 80vw;
    }
}